<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ewp.moudle.sys.mapper.SysUserMapper">

  <resultMap id="SysUserMap" type="com.ewp.entity.sys.SysUser">
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_status" jdbcType="CHAR" property="userStatus" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modified_at" jdbcType="TIMESTAMP" property="modifiedAt" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>

  <sql id="sys_user_column">
    user_name, user_pwd, user_email, user_mobile, user_status, dept_code, create_at, create_by, modified_at, modified_by
  </sql>

  <select id="findPage" parameterType="com.ewp.entity.sys.SysUser" resultMap="SysUserMap">
    select <include refid="sys_user_column" />
    from sys_user
    <where>
      user_name = #{userName}
    </where>
    order by user_name asc
  </select>

  <select id="get" parameterType="String" resultMap="SysUserMap">
    select <include refid="sys_user_column" />
    from sys_user
    where user_name = #{userName}
  </select>

  <insert id="insert" parameterType="com.ewp.entity.sys.SysUser">
    insert into sys_user( <include refid="sys_user_column"/> )
    values(
      #{userName},
      #{userPwd},
      #{userEmail},
      #{userMobile},
      #{userStatus},
      #{deptCode},
      #{createAt},
      #{createBy},
      #{modifiedAt},
      #{modifiedBy}
    )
  </insert>

  <update id="update" parameterType="com.ewp.entity.sys.SysUser">
    update sys_user
    set user_pwd = #{userPwd},
      user_emainl = #{userEmail},
      user_mobile = #{userMobile},
      user_status = #{userStatus},
      dept_code = #{deptCode},
      create_at = #{createAt},
      create_by = #{createBy},
      modifed_at = #{modifiedAt},
      modifed_by = #{modifiedBy}
    where user_name = #{userName}
  </update>

  <delete id="delete" parameterType="String">
    delete from sys_user where user_name = #{userName}
  </delete>

</mapper>